#catnews {
    max-height: 965px;
}

#catnews::-webkit-scrollbar {
    display: none;
}

.both-header {
    z-index: 999999;
}

.nav--pinned {
    top: 0;
}

.footer-fixed {
    z-index: 9999;
}

.footer--pinned {
    bottom: 0;
}